*{ box-sizing: border-box }

body{
   margin: 0;
   font-family: Arial, sans-serif;
   background: #C1C1C1;
}

#app-container{
  max-width: 750px;
  background: #fff;
  margin: 0 auto;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
p { padding: 0 20px; }
img {
  width: 100%;
  display: block
}

header img{
  border-bottom: 3px solid #333;
}

/* RELEVANT CODE */

#clippy{
}
